doctype html 
html(lang="ko")
    head   
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css") 
        title #{pageTitle} | Recap
    
    body
        nav 
            ul
                li 
                    a(href="/") home
                li 
                    a(href="/search") search 
                if loggedIn
                    li 
                        a(href="/users/logout") logout
                    li 
                        a(href="/videos/upload") upload
                    li 
                        a(href="") #{loggedInUser.username}'s profile 
                    li 
                        a(href="/users/edit") edit profile 
                if !loggedIn    
                    li 
                        a(href="/login") login
                    li 
                        a(href="/join") join 

        block content 
    br
    include patials/footer 