extends ../base 
block content 
    form(method="post", enctype="multipart/form-data")
        label(for="avatar") Avatar 
        input(name="avatar",type="file",id="avatar", accept="image/*") 
        input(name="email",placeholder="email",required,type="email",value=loggedInUser.email) 
        input(name="name",placeholder="name",required,type="text",value=loggedInUser.name) 
        input(name="location",placeholder="location",required,type="text",value=loggedInUser.location) 
        input(value="Edit profile",type="submit") 
        hr
        a(href="change-password") change password